body {
	max-width: 1024px;
	margin: 10px ;
	background-color: #18191B;
	background-image:  url(https://img.redbull.com/images/c_fill,g_auto,w_1500,h_1000/q_auto,f_auto/redbullcom/2018/08/14/9ec30d22-a4a7-435a-bb0b-acbd2bf42089/red-bull-trans-siberian-extreme);
	color:white;
	font-size: .9em;
}